<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="mainController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/main">{{myConfig.siteTitle}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{'active':getClass('/main')}"><a href="#/main">{{myConfig.menuName01}}</a></li>
        <li ng-class="{'active':getClass('/map')}"><a href="#/map">{{myConfig.menuName02}}</a></li>
        <li ng-class="{'active':getClass('/photo')}"><a href="#/photo">{{myConfig.menuName03}}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>